<div class="heading">
  <h3>Wyjście</h3>
  <div class="buttons">
    <button (click)="editEvent()">Edytuj wydarzenie</button>
    <button (click)="cancelEvent()">Anuluj wydarzenie</button>
  </div>
</div>
<div class="event-info">
  <div class="primary-info">
    <p class="desc">
      <span>Opis</span>
      jakis tam opis bez ladu i skladu
    </p>
    <p class="place">
      <span>Miejsce</span>
      jakis tam opis bez ladu i skladu
    </p>
    <p class="time">
      <span>Data</span>
      jakis tam opis bez ladu i skladu
    </p>
  </div>
  <div class="secondary-info">
    <p class="type">
      <span>Typ wydarzenia</span>
      Publiczne
    </p>
    <p class="author">
      <span>Organizator</span>
      Jan Kowalski
    </p>
    <div class="people">
      <span>Uczestnicy</span>
      <p>Imie Nazwisko</p>
      <p>Imie Nazwisko</p>
      <p>Imie Nazwisko</p>
    </div>
  </div>
</div>
<div class="comments">
  <p>Konwersacja do wydarzenia</p>
  <div class="comment">
    <p><span>Jan Kowalski</span> 15.04.2022</p>
    <p>Super pomysł! Wreszcie coś zorganizowane.</p>
  </div>
  <div class="comment">
    <p><span>Jan Kowalski</span> 15.04.2022</p>
    <p>Super pomysł! Wreszcie coś zorganizowane.</p>
  </div>
  <textarea [formControl]="comment" placeholder="Treść komentarza" (keyup.enter)="addComment()"></textarea>
</div>
