div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  font-size: 2.4rem;
  text-align: center;
}

p:first-of-type {
  margin: 5rem 0 2rem;
  font-size: 3.6rem;
  font-weight: bold;
}

p:nth-of-type(2) {
  font-size: 3.8rem;
}

p:last-of-type {
  margin-top: 2rem;
  font-size: 1.8rem;
}

button {
  padding: 1rem 1.4rem;
  margin-top: 4rem;
  background-color: #d52b1e;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
