main {
  width: 100%;
  height: 100vh;
  z-index: 30;
  // background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  section {
    width: 50rem;
    height: 40rem;
    // background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    img {
      width: 100%;
      max-width: 320px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    hr{
      color: green;
      width: 100%;
      max-width: 320px;
      text-align: center;
    }
    h3 {
      font-size: 2.8rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-family: Lato;
    }
    label{
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      width: 100%;
      max-width: 320px;
      // background-color: goldenrod;
      input {
        width: 100%;
        max-width: 320px;
        height: 48px;
        border-radius: 4px;
        border: none;
        outline: none;
        font-family: Lato;
        color: gainsboro;
        border: 1px solid gainsboro;
        letter-spacing: .5px;
        &:focus {
          border: 1px solid black;
          color: black;
        }
        &:hover {
          border: 1px solid #D52B1E;
        };
      }
    }
    button {
      width: 120px;
      height: 48px;
      border-radius: 4px;
      text-align: center;
      color: #fff;
      background-color: #D52B1E;
      border: none;
      cursor: pointer;
      font-size: 16px;
      transition: all .35s ease-in;
      font-family: Lato;
      &:hover {
        color: #fff;
        background-color: #A12218;
      }
    }
  }
}
