<main>
  <section>
    <form >
      <div>
        <label>
          <input type="text">
        </label>
        <label>
          <input type="text">
        </label>
      </div>
      <div>
        <label>
          <input type="text">
        </label>
        <label>
          <input type="text">
        </label>
      </div>
      <div>
        <section>
          <option value=""></option>
        </section>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div>
        <select name="" id="">
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
        </select>
      </div>
      <div>
        <select name="" id="">
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
        </select>
      </div>
    </form>
  </section>
</main>
