<main>
  <section>
    <form>
      <div class="data_Container">
        <label>
          <input placeholder="Nazwa wydarzenia" type="text">
        </label>
        <label>
          <input placeholder="Miejsce" type="text">
        </label>
      </div>
      <div class="date_Container">
        <label>
          <input type="date">
        </label>
        <label>
          <input type="date">
        </label>
      </div>
      <div class="type_Container">
        <select>
          <option value="">Public</option>
          <option value="">Private</option>
        </select>
        <textarea name="" id="" cols="30" rows="10" placeholder="Opis do 240 znaków"></textarea>
      </div>
      <div class="invitation_Container">
        <select name="" id="">
          <option value="">Jan</option>
          <option value="">Marian</option>
          <option value="">Ola</option>
        </select>
        <select name="" id="">
          <option value="">Tomasz</option>
          <option value="">Karol</option>
          <option value="">Anna</option>
        </select>
      </div>
      <div class="buttons_Container">
        <button type="submit">Akceptuj</button>
        <button type="submit"> Wróc</button>
      </div>
    </form>
  </section>
</main>
