/* You can add global styles to this file, and also import other style files */
@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 10px;
}
